{% load static %}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 100%;
	width: 100%;
	/*background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0)),url("{% static 'app/images/bg2.jpg' %}");*/
	background-position: center;
	background-size: 750px;
	position: absolute;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 50px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 70px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
}

nav ul li a:hover{
    color: rgb(45, 178, 255);
}

a{
    text-decoration: none;
    color: palevioletred;
    font-size: 28px;
}
