<html>
<body>
    <h2>Edit Availability for Serial Number: {{id}}</h2>
    <a href="/index">Back to home</a>

    <p style="color:red">{{ status|safe }}</p>
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
            <div id="div_id_serial_number" class="control-group"> <label for="id_serial_number" class="control-label requiredField">
            Serial Number<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="serial_number" maxlength="64" value="{{spec_avail.0}}" class="textinput textInput" required="" id="id_serial_number"> </div> </div>
            <select id="id_availability" name="availability">
                <option value="available">available</option>
                <option value="not available">not available</option>
            </select>
            <br>
        <button type="submit" value="Update">Edit Availability</button>
    </form>
</body>
</html>
