{% load static %}
<html>
<body>
    <h1>Find Calculators</h1>
    <a href="/">Back to homepage</a>

    <p style="color:red">{{ status|safe }}</p>

    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <div id="div_id_first_name" class="control-group"> <label for="id_first_name" class="control-label requiredField">
        Location<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="first_name" value="{{obj.0}}" maxlength="64" class="textinput textInput" required="" id="id_first_name"> </div> </div> <div id="div_id_last_name" class="control-group"> <label for="id_last_name" class="control-label requiredField">
        Time<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="last_name" value="{{obj.1}}" maxlength="64" class="textinput textInput" required="" id="id_last_name"> </div> </div> <div id="div_id_email" class="control-group"> <label for="id_email" class="control-label requiredField">
        Calculator Type<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="email" value="{{obj.2}}" maxlength="64" class="textinput textInput" required="" id="id_email"> </div> </div> <div id="div_id_dob" class="control-group"> <label for="id_dob" class="control-label requiredField">

        <br>
        <button type="button">Find Available Calculators</button>
    </form>

    <h2>Results</h2>
    <table border=1>
        <thead>
            <th>location_name</th>
            <th>time_availability</th>
            <th>calculator_type</th>
            <th>student_id</th>
            <th>first_name</th>
            <th>last_name</th>
            <th>email</th>
        </thead>
        {}
        <tr>
            <td> {{ xxx MRT }} </td>
            <td> {{ 5-6 P.M. }} </td>
            <td> {{ Casio }} </td>
            <td> {{ W231XJ }} </td>
            <td> {{ Bruce }} </td>
            <td> {{ Wayne }} </td>
            <td> {{ totallynotbatman@gmail.com }} </td>
        </tr>
        {}
    </table>

</body>
</html>
