{% load static %}
<html>
<body>
    <h1>Find Calculators</h1>
    <a href="index">Back to homepage</a>

    <h2>HTML Forms</h2>

    <form action="/findCalculators" method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        Preferred Time<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="s.time_availability" maxlength="32" class="textinput textInput" required=""> </div> 
        <br>
        Location<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="l.location_name" maxlength="32" class="textinput textInput" required=""> </div> 
        <br>
        Calculator Type<span class="asteriskField">*</span> </label> <div class="controls"> <input type="text" name="c.calc_type" maxlength="32" class="textinput textInput" required=""> </div> 
        <br>
        <button type="submit" value=Submit">Submit</button>
    </form>
    
    <h2>Results</h2>   
    <table border=1>
        <thead>
            <th>brand</th>
            <th>serial_number</th>
            <th>price</th>
            <th>calc_condition</th>
            <th>location_name</th>
            <th>time_availability</th>
            <th>first_name</th>
            <th>last_name</th>
            <th>email</th>
        </thead>
        {% for result in Results %}
        <tr>
            <td> {{ result.0 }} </td>
            <td> {{ result.1 }} </td>
            <td> {{ result.2 }} </td>
            <td> {{ result.3 }} </td>
            <td> {{ result.4 }} </td>
            <td> {{ result.5 }} </td>
            <td> {{ result.6 }} </td>
            <td> {{ result.7 }} </td>
            <td> {{ result.8 }} </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
