{% load static %}
<html>
    <head>
        <title>Calcurator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'app/style/style-findCalculators.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700" rel="stylesheet">
    </head>
    
<body>

    
    <nav>
        <input id="nav-toggle" type="checkbox">
        <div class="logo"><strong>CALC</strong>URATOR</div>
        <ul class="links">
            {% for admin_check in admin %}
            {% if admin_check %}
            <li><a href="index">ADMIN</a></li>
            {% endif %}
            {% endfor %}
            <li><a href="homepage">Home</a></li>
            <li><a href="findCalculators">Find Calculator</a></li>
            <li><a href="myCalculators/{{ email.0 }}">My Calculator</a></li>
            <li><a href="hot">Hot Area</a></li>
        </ul>
        <label for="nav-toggle" class="icon-burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav>
    
    <div class = 'content'>

    <h1>Find Calculators, sorted by:</h1>

    <a href="findCalculators">Time, location, and calculator type</a>
    <br>
    <a href="findCalculators_time">Time only</a>
    <br>
    <a href="findCalculators_location">Location only</a>
    <br>
    <a href="findCalculators_type">Calculator type only</a>
    <br>
    <a href="findCalculators_time_loc">Time and location only</a>
    <br>
    <a href="findCalculators_time_type">Time and calculator type only</a>
    <br>
    <a href="findCalculators_loc_type">Location and calculator type only</a>
    <br>
    <a href="findCalculators_all">Display all results</a>
    <br>
    <br>


    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}
        <!-- form -->
        <label>Preferred Time:</label>
        <select id="time_preference" name="s.time_availability" required="">

            <option value="59">00.00-00.59</option>
            <option value="159">01.00-01.59</option>
            <option value="259">02.00-02.59</option>
            <option value="359">03.00-03.59</option>
            <option value="459">04.00-04.59</option>
            <option value="559">05.00-05.59</option>
            <option value="659">06.00-06.59</option>
            <option value="759">07.00-07.59</option>
            <option value="859">08.00-08.59</option>
            <option value="959">09.00-09.59</option>
            <option value="1059">10.00-10.59</option>
            <option value="1159">11.00-11.59</option>
            <option value="1259">12.00-12.59</option>
            <option value="1359">13.00-13.59</option>
            <option value="1459">14.00-14.59</option>
            <option value="1559">15.00-15.59</option>
            <option value="1659">16.00-16.59</option>
            <option value="1759">17.00-17.59</option>
            <option value="1859">18.00-18.59</option>
            <option value="1959">19.00-19.59</option>
            <option value="2059">20.00-20.59</option>
            <option value="2159">21.00-21.59</option>
            <option value="2259">22.00-22.59</option>
            <option value="2359">23.00-23.59</option>
        </select>
        <br>
        <br>

        <label>Choose a location (MRT station):</label>
        <select id="mrt" name="l.location_name" required="">
            <option value="Admiralty">Admiralty</option>
            <option value="Aljunied">Aljunied</option>
            <option value="Ang Mo Kio">Ang Mo Kio</option>
            <option value="Bartley">Bartley</option>
            <option value="Bayfront">Bayfront</option>
            <option value="Beauty World">Beauty World</option>
            <option value="Bedok">Bedok</option>
            <option value="Bedok North">Bedok North</option>
            <option value="Bedok Reservoir">Bedok Reservoir</option>
            <option value="Bencoolen">Bencoolen</option>
            <option value="Bendemeer">Bendemeer</option>
            <option value="Bishan">Bishan</option>
            <option value="Boon Keng">Boon Keng</option>
            <option value="Boon Lay">Boon Lay</option>
            <option value="Botanic Gardens">Botanic Gardens</option>
            <option value="Braddell">Braddell</option>
            <option value="Bras Basah">Bras Basah</option>
            <option value="Buangkok">Buangkok</option>
            <option value="Bugis">Bugis</option>
            <option value="Bukit Batok">Bukit Batok</option>
            <option value="Bukit Gombak">Bukit Gombak</option>
            <option value="Bukit Panjang">Bukit Panjang</option>
            <option value="Buona Vista">Buona Vista</option>
            <option value="Caldecott">Caldecott</option>
            <option value="Canberra">Canberra</option>
            <option value="Cashew">Cashew</option>
            <option value="Changi Airport">Changi Airport</option>
            <option value="Chinatown">Chinatown</option>
            <option value="Chinese Garden">Chinese Garden</option>
            <option value="Choa Chu Kang">Choa Chu Kang</option>
            <option value="City Hall">City Hall</option>
            <option value="Clarke Quay">Clarke Quay</option>
            <option value="Clementi">Clementi</option>
            <option value="Commonwealth">Commonwealth</option>
            <option value="Dakota">Dakota</option>
            <option value="Dhoby Ghaut">Dhoby Ghaut</option>
            <option value="Dover">Dover</option>
            <option value="Downtown">Downtown</option>
            <option value="Esplanade">Esplanade</option>
            <option value="Eunos">Eunos</option>
            <option value="Expo">Expo</option>
            <option value="Farrer Park">Farrer Park</option>
            <option value="Farrer Road">Farrer Road</option>
            <option value="Fort Canning">Fort Canning</option>
            <option value="Geylang Bahru">Geylang Bahru</option>
            <option value="Gul Circle">Gul Circle</option>
            <option value="HarbourFront">HarbourFront</option>
            <option value="Haw Par Villa">Haw Par Villa</option>
            <option value="Hillview">Hillview</option>
            <option value="Holland Village">Holland Village</option>
            <option value="Hougang">Hougang</option>
            <option value="Jalan Besar">Jalan Besar</option>
            <option value="Joo Koon">Joo Koon</option>
            <option value="Jurong East">Jurong East</option>
            <option value="Kaki Bukit">Kaki Bukit</option>
            <option value="Kallang">Kallang</option>
            <option value="Kembangan">Kembangan</option>
            <option value="Kent Ridge">Kent Ridge</option>
            <option value="Khatib">Khatib</option>
            <option value="King Albert Park">King Albert Park</option>
            <option value="Kovan">Kovan</option>
            <option value="Kranji">Kranji</option>
            <option value="Labrador Park">Labrador Park</option>
            <option value="Lakeside">Lakeside</option>
            <option value="Lavender">Lavender</option>
            <option value="Little India">Little India</option>
            <option value="Lorong Chuan">Lorong Chuan</option>
            <option value="MacPherson">MacPherson</option>
            <option value="Marina Bay">Marina Bay</option>
            <option value="Marina South Pier">Marina South Pier</option>
            <option value="Marsiling">Marsiling</option>
            <option value="Marymount">Marymount</option>
            <option value="Mattar">Mattar</option>
            <option value="Mountbatten">Mountbatten</option>
            <option value="Newton">Newton</option>
            <option value="Nicoll Highway">Nicoll Highway</option>
            <option value="Novena">Novena</option>
            <option value="one-north">one-north</option>
            <option value="Orchard">Orchard</option>
            <option value="Outram Park">Outram Park</option>
            <option value="Pasir Panjang">Pasir Panjang</option>
            <option value="Pasir Ris">Pasir Ris</option>
            <option value="Paya Lebar">Paya Lebar</option>
            <option value="Pioneer">Pioneer</option>
            <option value="Potong Pasir">Potong Pasir</option>
            <option value="Promenade">Promenade</option>
            <option value="Punggol">Punggol</option>
            <option value="Queenstown">Queenstown</option>
            <option value="Raffles Place">Raffles Place</option>
            <option value="Redhill">Redhill</option>
            <option value="Rochor">Rochor</option>
            <option value="Sembawang">Sembawang</option>
            <option value="Sengkang">Sengkang</option>
            <option value="Serangoon">Serangoon</option>
            <option value="Simei">Simei</option>
            <option value="Sixth Avenue">Sixth Avenue</option>
            <option value="Somerset">Somerset</option>
            <option value="Stadium">Stadium</option>
            <option value="Stevens">Stevens</option>
            <option value="Tai Seng">Tai Seng</option>
            <option value="Tampines">Tampines</option>
            <option value="Tampines East">Tampines East</option>
            <option value="Tampines West">Tampines West</option>
            <option value="Tan Kah Kee">Tan Kah Kee</option>
            <option value="Tanah Merah">Tanah Merah</option>
            <option value="Tanjong Pagar">Tanjong Pagar</option>
            <option value="Telok Ayer">Telok Ayer</option>
            <option value="Telok Blangah">Telok Blanga</option>
            <option value="Tiong Bahru">Tiong Bahru</option>
            <option value="Toa Payoh">Toa Payoh</option>
            <option value="Tuas Crescent">Tuas Crescent</option>
            <option value="Tuas Link">Tuas Link</option>
            <option value="Tuas West Road">Tuas West Road</option>
            <option value="Ubi">Ubi</option>
            <option value="Upper Changi">Upper Changi</option>
            <option value="Woodlands">Woodlands</option>
            <option value="Woodlands North">Woodlands North</option>
            <option value="Woodlands South">Woodlands South</option>
            <option value="Woodleigh">Woodleigh</option>
            <option value="Yew Tee">Yew Tee</option>

            <option value="Yio Chu Kang">Yio Chu Kang</option>
            <option value="Yishun">Yishun</option>

        </select>
        <br>
        <br>
    
        
        <label>Choose a calculator type:</label>
        <select id="calculator_type" name="c.calc_type" required="">

            <option value="scientific">scientific</option>
            <option value="graphing">graphing</option>
            <option value="financial">financial</option>
        </select>
        <br>
        <br>
            
        <button type="submit" value="Submit">Submit</button>
    </form>
    

    <br><br>    
        
    <h2>Results</h2>   
    <table border=1>
        <thead>
            <th>Calculator Type</th> 

            <th>Brand</th>
            <th>Serial Number</th>
            <th>Price</th>
            <th>Calculator Condition</th>
            <th>MRT Station</th>
            <th>Time Availability</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th></th>

        </thead>
        {% for result in Results %}
        <tr>
            <td> {{ result.0 }} </td>
            <td> {{ result.1 }} </td>
            <td> {{ result.2 }} </td>
            <td> {{ result.3 }} </td>
            <td> {{ result.4 }} </td>
            <td> {{ result.5 }} </td>
            <td> {{ result.6 }} </td>
            <td> {{ result.7 }} </td>
            <td> {{ result.8 }} </td>
            <td> {{ result.9 }} </td>

                                           
            <td>    
                {% csrf_token %}
                <form method="POST" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="brand" value="{{result.0}}"/>
                    <input type="hidden" name="serial_number" value="{{result.1}}"/>
                    <input type="hidden" name="loan_time" value="{{result.5}}"/>
                    <input type="hidden" name="location_name" value="{{result.4}}"/>
                    <input type="hidden" name="loaner_email" value="{{result.8}}"/> 
                    <button onclick="return confirm('Do you want to borrow {{result.0}}-{{result.1}} calculator from {{result.6}}?');" type="submit" name="action" value="borrow">Borrow</button>         
                </form>
            </td>
        </tr>
        {% endfor %}                                  
                                           

    </table>
    </div>

</body>
</html>
