{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Calcurator</title>
    <link rel="stylesheet" href="{% static 'app/style/style-homepage.css' %}">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="homepage.html">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="findCalculators">Find Calculator</a></li>
                    <li><a href="myCalculators.html">My Calculator</a></li>
                    <li><a href="hot">Hot Area</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="menu">
        <ul>
            
        </ul>
    </div>

</body>
</html>
