{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Calcurator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/style/style-homepage.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700" rel="stylesheet">
</head>
<body>
    <nav>
        <input id="nav-toggle" type="checkbox">
        <div class="logo"><strong>CALC</strong>URATOR</div>
        <ul class="links">
            {% for admin_check in admin %}
            {% if admin_check %}
            <li><a href="index">ADMIN</a></li>
            {% endif %}
            {% endfor %}
            <li><a href="homepage">Home</a></li>
            <li><a href="findCalculators">Find Calculator</a></li>
            <li><a href="myCalculators/{{ email.0 }}">My Calculator</a></li>
            <li><a href="hot">Hot Area</a></li>
        </ul>
        <label for="nav-toggle" class="icon-burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav>

    <div class="content">
        <div class="welcome">
            <strong>Welcome, {{ name.0 }}!</strong>
        </div>
        <div class="statistic">
            <p>Calcurator currently have</p>
        </div>
    </div>

    <div class="grid">
        
        <div class="grid-item">
            <div class="card">
                <img class="card-img" src="{% static 'app/images/user.png' %}" alt="User">
                <div class="card-content">
                    <h2 class="stats">{{ user.0 }}</h2>
                    <h1 class="card-header">Users</h1>
                    <p class="card-text">
                        People you can borrow from or lend to!
                    </p>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <img class="card-img" src="{% static 'app/images/calculator.png' %}" alt="Calculator">
                <div class="card-content">
                    <h2 class="stats">{{ calculator.0 }}</h2>
                    <h1 class="card-header">Calculator</h1>
                    <p class="card-text">
                        Calculators available to borrow <br>
                        Find one today in the 'Find Calculator' tab!
                    </p>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <img class="card-img" src="{% static 'app/images/location.png' %}" alt="Location">
                <div class="card-content">
                    <h2 class="stats">{{ location.0 }}</h2>
                    <h1 class="card-header">Location</h1>
                    <p class="card-text">
                        Favorite meeting spot <br>
                        Find out more in the 'Hot Area' tab!
                    </p>
                </div>
            </div>
        </div>
        
    </div>


</body>
</html>
