{% load static %}
<html>
    <head>
        <title>
            Login
        </title>
    </head>
    
    <link rel="stylesheet" type="text/css" href="{% static 'app/style/style.css' %}">
    
    <body>
        <div class="loginbox">
           <img src="{% static 'app/images/user2.png' %}" class="avatar">
           <h1>
                Login Here
           </h1>
           <form method="POST">{% csrf_token %}
               <p>Email</p>
               <input type="email" name="email" placeholder="Enter Email" required>
               <p>Password</p>
               <input type="password" name="pass" placeholder="Enter Password" required minlength="6">
               <input type="submit" name="" value="Login">
               <p class="message"> Don't have an account? <a href="register"> Register </a> </p>
           </form>
        </div>
    </body>
    
</html>
