<html>
    <head>
        <title>
            Login
        </title>
    </head>
    
    <link rel="stylesheet" type="text/css" href="style/style.css">
    
    <body>
        <div class="loginbox">
           <img src="../../static/app/images/user2.png" class="avatar">
           <h1>
                Login Here
           </h1>
           <form action="index">
               <p>Username</p>
               <input type="text" name="" placeholder="Enter Username" required>
               <p>Password</p>
               <input type="password" name="" placeholder="Enter Password" required>
               <input type="submit" name="" value="Login">
               <p class="message"> Don't have an account? <a href="register"> Register </a> </p>
           </form>
        </div>
    </body>
    
</html>
