{% load static %}
<html>
<body>
    <h2>My Calculators</h2>
    <img src="{% static 'app/images/nus.jpg' %}" width="10%"   alt="NUS logo"/><br/>
    <br/><br/>
    <h2>Calculators Lent Out</h2>
    <table border=1>
        <thead>
            <th>Serial Number</th>
            <th>Type</th>
        </thead>
        {% for calculator in calculators %}
        <tr>
            <td> {{ calculator.0 }} </td>
            <td> {{ calculator.1 }} </td>
            <td>
                <a href="editAvailabilty/{{calculator.1}}"><button>Edit Availability</button></a>
                | 
                <form method="POST" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{cust.5}}"/>
                <button onclick="return confirm('Are you sure you want to delete {{calculator.0}}}? Make sure you have taken back your calculator');" type="submit" name="action" value="delete">Delete</button> 
                </form></td>
        </tr>
        {% endfor %}
    </table>
    <h2>Calculators borrowed</h2>
    <table border=1>
        <thead>
            <th>Serial Number</th>
            <th>Type</th>
        </thead>
        {% for loan in loaned %}
        <tr>
            <td> {{loan.0}} </td>
            <td> {{loan.1}} </td>
    </table>
    <a href="/myCalculators/addCalculator">Add a Calculator</a>
</body>
</html>
