{% load static %}
<html>
    <head>
        <title>
            Login
        </title>
    </head>
    
    <link rel="stylesheet" type="text/css" href="{% static 'app/style/style2.css' %}">
    
    <body>
        <div class="loginbox">
           <h1>
                Register Here
           </h1>
           <form method="POST">{% csrf_token %}
               <p>Username</p>
               <input type="number" name="username" required="" id="id_username" placeholder="Enter Username">
               <p>First Name</p>
               <input type="text" name="first_name" maxlength="64" class="textinput textInput" required="" id="id_first_name" placeholder="Enter First Name">
               <p>Last Name</p>
               <input type="text" name="last_name" maxlength="64" class="textinput textInput" required="" id="id_last_name" placeholder="Enter Last Name"> 
               <p>Email</p>
               <input type="email" name="email" placeholder="Enter Email" required>
               <p>Password</p>
               <input type="password" name="pass" placeholder="Enter Password" required minlength="6">
               <input type="submit" name="" value="Register">
               <p class="message"> Already have an account? <a href="login"> Login </a> </p>
           </form>
        </div>
    </body>
    
</html>
