{% load static %}

<html>
    
    <head>
        <title>Settings</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'app/style/style-settings.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700" rel="stylesheet">
    </head>
    
    <body>
        <nav>
            <input id="nav-toggle" type="checkbox">
            <div class="logo"><strong>CALC</strong>URATOR</div>
            <ul class="links">
                {% for admin_check in admin %}
                    {% if admin_check %}
                        <li><a href="index">ADMIN</a></li>
                    {% endif %}
                {% endfor %}
                <li><a href="homepage">Home</a></li>
                <li><a href="findCalculators">Find Calculator</a></li>
                <li><a href="myCalculators/{{ obj.0 }}">My Calculator</a></li>
                <li><a href="hot">Hot Area</a></li>
                <li><a href="settings">Settings</a></li>
            </ul>
            <label for="nav-toggle" class="icon-burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </label>
        </nav>
        
        <p style="color:red">{{ status|safe }}</p>
                
        <div class = 'content'>
            <h2>Update your particulars here {{obj.1}}</h2>
            <br>
            
            <form method="POST">
            <!-- Security token by Django -->
            {% csrf_token %}
            <!-- form -->

            <div id="div_id_first_name" class="control-group"> <label for="id_first_name" class="control-label requiredField">
            First name<span class="asteriskField">*</span> </label> <div class="controls"> 
            <input type="text" name="first_name" value="{{obj.1}}" maxlength="64" class="textinput textInput" required="" id="id_first_name"> </div> </div> 

            <div id="div_id_last_name" class="control-group"> <label for="id_last_name" class="control-label requiredField">
            Last name<span class="asteriskField">*</span> </label> <div class="controls"> 
            <input type="text" name="last_name" value="{{obj.2}}" maxlength="64" class="textinput textInput" required="" id="id_last_name"> </div> </div> 

            <div id="div_id_time_availability" class="control-group"> <label for="id_time_availability" class="control-label requiredField">
            Preferred timing<span class="asteriskField">*</span> </label> <div class="controls"> 
            <input type="number" name="time_availability" value="{{obj.3}}" class="numberinput" required="" id="id_time_availability"> </div> </div> 

            <div id="div_id_location_id" class="control-group"> <label for="id_since" class="control-label requiredField">
            Preferred Location ID<span class="asteriskField">*</span> </label> <div class="controls"> 
            <input type="number" name="location_id" value="{{obj.4}}" class="numberinput" required="" id="id_location_id"> </div> </div> 

            <br>
            <button type="submit" name="action" value="Update"> Update </button>

            </form>
        
              
      </div>

    </body>
</html>
