<html>
<body>
    <h2>Details for {{student.1}} {{student.2}}</h2>
    <a href="../index">Back to admin</a>
    <br/><br/>
    <table style='text-align:left'>
        <tr>
            <th>Email</th>
            <td>:</td>
            <td> {{ student.0 }} </td>
        </tr>
        <tr>
            <th>First name</th>
            <td>:</td>
            <td> {{ student.1 }} </td>
        </tr>
        <tr>
            <th>Last name</th>
            <td>:</td>
            <td> {{ student.2 }} </td>
        </tr>
        <tr>
            <th>Admin rights</th>
            <td>:</td>
            <td> {{ student.4 }} </td>
        </tr>
        <tr>
            <th>Preferred timing</th>
            <td>:</td>
            <td> {{ student.5 }} </td>
        </tr>
        <tr>
            <th>Transactions completed</th>
            <td>:</td>
            <td> {{ student.6 }} </td>
        </tr>
        <tr>
            <th>Preferred location</th>
            <td>:</td>
            <td> {{ student.7 }} </td>
        </tr>
    </table>
</body>
</html>
